<script src="../javascripts/jQuery.min.js"></script>
<div id="container">
    <h1>{{title}}</h1>
    <div id="listcontainer">

    </div>
    <div id="searchcontainer">
        <input type="text" id="searchinput">
        <button class="r-btn" id="delbtn">Del Student</button>
        <button class="r-btn" id="searchbtn">Add to Classroom</button>
    </div>
</div>
<script src="../javascripts/admin.js"></script>