<script src="javascripts/jQuery.min.js"></script>
<div id="container">
    <div>
        <h1>{{title}}</h1>
    </div>
    <div id="videocontainer">
        <video id="class-video"></video>
    </div>
    <div id="chatcontainer">
        <div id="msgcontainer">
            <textarea id="msgtextarea" readonly></textarea>
        </div>
        <div id="chatbox">
            <input type="text">
            <button id="send-btn">发送</button>
        </div>
    </div>
</div>