<script src="javascripts/jQuery.min.js"></script>
<div id="container">
    <div id="title-index">
    </div>
    <div id="loginbox">
        <br>
        <h1 style="color:black;">Login</h1>
        <a href="/regist">regist</a>
        <div style="width:50%;height: 15vh;margin:0vh auto;">
            <span>Username</span><br>
            <input type="text" id="username" placeholder="">
            <br>
            <br>
            <span>Password</span><br>

            <input type="password" id="password" placeholder="">
            <br><br>
            <input type="submit" id="subbtn" value="Submit">
        </div>

    </div>
</div>
<script src="javascripts/login.js"></script>