<script src="javascripts/jQuery.min.js"></script>
<div id="container">
    <div id="title-index">
    </div>
    <div id="loginbox">
        <br>
        <h1 style="color:black;">Regist</h1>
        <a href="/">login</a>
        <div style="width:50%;height: 15vh;margin:0vh auto;">
            <span>Username</span><br>
            <input type="text" id="username" placeholder="">
            <br>
            <br>
            <span>Password</span><br>

            <input type="password" id="password" placeholder="">
            <br>
            <input style="width:20px;margin:0;padding:0" type="radio" name="type" value="student" checked><span>Student</span>
            <input style="width:20px;margin:0;padding:0" type="radio" name="type" value="teacher"><span>Teacher</span>

            <br>
            <input type="submit" id="subbtn" value="Regist">
        </div>

    </div>
</div>
<script src="javascripts/regist.js"></script>